.o-archive {
  &__inner {
    width: 100%;
    position: relative;
    @include respond(pc) {
      left: 20px;
      @include center;
      @include flex-start;
      width: $base_wrap + 40;
    }
    @include respond(sp) {
      padding: 0 25px;
    }
  }
  .m-card_article {
    @include respond(pc) {
      width: 260px;
      margin: 0 40px 80px 0;
    }
    margin-bottom: 56px;
  }
  .a-title__subTitle {
    margin-bottom: 48px;
    @include respond(pc) {
      margin-bottom: 80px;
    }
  }
  .a-btn {
    @include center;
    width: 240px;
    padding: 24px 0;
  }
}

